/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Maintain column layout */
    min-height: 100vh; /* Ensure body takes full height of the viewport */
    background-color: #f9f9f9;
}
div{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d; /* Navbar background color */
    padding: 10px 20px; /* Padding around the navbar */
    color: white; /* Text color */
    width: 100%; /* Full width */
    flex-wrap: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflow */
}

.navbar-brand {
    font-size: 1.5em; /* Brand text size */
}

.navbar-links {
    list-style-type: none; /* Remove default list styles */
    display: flex; /* Display links in a row */
    margin-right: 1rem;
}

.navbar-links li {
    margin-left: 20px; /* Space between links */
}

.navbar-links a {
    text-decoration: none; /* Remove underline */
    color: white; /* Link color */
    font-weight: bold; /* Make links bold */
    transition: color 0.3s; /* Smooth transition for color change */
}

.navbar-links a:hover {
    color: #f0f0f0; /* Change color on hover */
}

/* Main Container */
.container {
    width: 90%;
    flex: 1;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    border-radius: 8px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
    /* display: block; */
    /*overflow-x: auto;  Permet desplaçament horitzontal només si cal */
    white-space: nowrap; /* Evita trencaments de línia en les cel·les */
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #df0000; /* Table header background color */
    color: white; /* Text color for header */
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Footer Styles */
footer {
    background-color: #2d2d2d;
    color: #fafafa;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    width: 100%; /* Make footer full width */
}

footer p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none; /* Remove underline on hover */
}

/* Card Styles */
.container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between the cards */
    
}

.card {
    background-color: #df0000; /* Bootstrap primary color */
    border-radius: 8px;
    width: 20dvh; /* Set card width to a smaller size */
    height: 15dvh; /* Set card height to a smaller size */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s; /* Animation effect on hover */
    font-size: 18px; /* Decrease font size */
    color: white; /* Text color */
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Filter Section Styles */
.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Space below the filter section */
}

.selects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-end;
    justify-content: center; 
    margin-bottom: 1.5rem;
}

.filter-group {
    display: flex;
    flex-direction: column;
    text-align: left; 
}


label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 2.2dvh;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 39dvw;
    outline: none;
    padding-right: 0;
    font-size: 2dvh;
    margin-right: 10px; /* Space between the select elements */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #df0000;
    color: white;
    font-size: 2dvh;
    width: 5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #df0000; /* Change background color on hover */
}


/* Responsive Styles */     /*<---------------------------------------------------------------------------------------------------RESPONSIVE STYLES*/
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack navbar items vertically on mobile */
        align-items: center; /* Center align navbar items */
    }

    button {
        width: 70%; /* Full-width buttons on mobile */
        margin: 10px 0; /* Spacing between buttons */
    }

    h1 {
        font-size: 1.5em; /* Reduce h1 size for mobile */
        text-align: center; /* Center align h1 */
    }

    .navbar {
        margin-top: 10px; /* Add margin to space navbar from h1 */
    }

    .navbar-links {
        flex-direction: row; /* Keep links in a row */
        justify-content: center; /* Center align navbar links */
        flex-wrap: nowrap; /* Prevent wrapping */
        overflow: hidden; /* Prevent scrolling for links */
        white-space: nowrap; /* Prevent line breaks */
    }

    .navbar-links a {
        font-size: 14px; /* Decrease font size */
        font-weight: normal; /* Remove bold font weight */
        padding: 5px 10px; /* Reduce padding for links */
    }

    .navbar-links li {
        margin-left: 5px; /* Decrease space between links */
    }

    .container {
        flex-direction: column; /* Stack cards vertically on small screens */
        align-items: center; /* Center cards */
    }

    .card {
        width: 90%; /* Make cards wider on mobile */
        height: 200px; /* Set a reasonable height for mobile */
        font-size: 20px; /* Increase font size */
    }

    .filter-section {
        flex-direction: column; /* Stack filter elements vertically */
    }

    .selects {
        width: 100%; /* Full width for selects */
        margin-left: 0; 
        padding-right: 0;/* Reset margin */
    }

    /* Calendar Styles */
    .calendar {
        font-size: 14px; /* Adjust calendar font size for mobile */
    }
}

@media (max-width: 480px) {
    .navbar-links a {
        font-size: 12px; /* Further reduce font size */
        padding: 5px; /* Minimize padding */
    }

    .navbar-links li {
        margin-left: 2px; /* Minimal space between links */
    }

    table {
        width: 100dvw;
        border-collapse: collapse;
        margin-top: 20px; 
        display: block;
        overflow-x: auto; /* Permet desplaçament horitzontal només si cal */
        white-space: nowrap; /* Evita trencaments de línia en les cel·les */
    }

    th, td {
        padding: 10px; /* Reduce padding in table for mobile */
    }

    .button {
        width: 100%; /* Make button full width */
    }

    /* Calendar Styles */
    .calendar {
        font-size: 12px; /* Further adjust calendar font size */
    }
}
